p {
    margin-bottom: 0.4rem;
}

.sidebar-container {
    background-color: #000;
    color: #ffffff;
    padding: 20px;
    width: 30%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.weather-container .card {
    background-color: #000;
    width: 400px;
    color: #fff;
    border-radius: 15px;
}

.delayed-routes-container {
    background-color: #111;
    padding: 0;
}

.delayed-routes-container .card {
    background-color: #111;
    width: 400px;
    color: #fff;
    border-radius: 10px;
}

.delayed-routes-container .card-header {
    border-bottom: 1px solid #444;
    font-weight: "bold",
}

.delayed-routes-container .row {
    border-bottom: 1px solid #444;
    color: rgb(180, 176, 176)
}

.delayed-routes-container .row:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.delayed-routes-container .text-start {
    color: rgb(180, 176, 176);
}

.temperature {
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature h1 {
    font-size: 3rem;
    margin-right: 10px;
}

.weather-icon i {
    font-size: 2rem;
}

.weather-details p {
    margin: 5px 0;
    font-size: 0.9rem;
}

.text-small {
    font-size: 15px;
    color: gray;
}

.text-extra-small {
    font-size: 13px;
    color: gray;
}

.text-highlighted {
    color: white
}

.row {
    margin-bottom: 12px;
    padding-top: .2rem;
    padding-bottom: .2rem;
}

.ramp-chart {
    width: 320px;
    margin: auto;
    background-color: #111;
    color: gray;
    margin-top: 20px;
    padding: 10px;
}